.container{
    width: 100%;
    /* height: 100vh; */
    font-family: 'Inter';
    overflow-x: hidden;
}
.showcase {
    width: 100%;
    height: 800px;
    position:relative;
    overflow: hidden
}
.video {
    width: auto;
    height:800px;
}
.showtext{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:#fff;
    width: 100vw;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #00000069;
}

.masks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mask {
    background: #00000080;
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    max-width: 326px;
    line-height: normal;
}

.showtext p {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
}
.wrapper {
    width: 100%;
    padding: 120px 0;
    background-color: #1b1b1b;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.card {
    width: 1180px;
    height: 400px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between
}
.cardimg {
    width: 400px;
    height: 400px
}
.cardtext {
    width: 703px;
    height: 280px;
    color: #fff
}
.card  p{
    line-height: 36px;
    font-size: 28px ;
    margin: 20px 0 0;
    font-weight: 400;
}
.product {
    /* width: 998px; */
    text-align: center;
}
.container h1 {
    font-size: 48px;
    white-space: nowrap;
    font-weight: 500;
    margin: 0;
}
.container h1 span{
    color: #108CFF;
}
.container h1 p{
 text-align: center;
 font-size: 28px;
 font-weight: 500;   
}
.textdesc {
    margin: 36px 0;
    font-size: 18px;
    font-weight: normal;
}
.container button{
    color: #fff;
    background-color: #108CFF;
    width: 165px;
    height: 49px;
    border: none;
    font-size: 24px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    box-shadow: inset 0px 2px #70BAFF, inset 0px -4px #0F5EA7;
    cursor: pointer;
}
.container button svg {
    margin-right: 10px;
}
.picturegallery {
    margin-top: 64px;
    /* width: 1180px; */
    height: 329px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    gap: 20px;
}
.picturegallery p {
    font-size: 28px;
    margin: 0;
    font-weight: 500;
    line-height: 39px;
    text-align: center;
}
.boxheight {
    height: 1200px !;
}
.secondtitle {
    text-align: center;
    margin-bottom: 64px;
}
.secondtitle h1 {
    line-height: 58px;
    margin-bottom: 20px;
}
.secondtext {
    width: 999px;
    height: 87px;
    font-size: 28px;
    font-weight: 400;
}
.secondtext p {
    margin: 0;
    line-height: 36px;
}
.secondpicturegallery {
    width: 1180px;
    height: 731px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Three columns with equal width */
    gap: 18px;
    padding: 0 10px;
}

.secondpicturegallery div{
    position: relative;
}
.secondpicturegallery p {
    margin: 0;
    width: 295px;
    height: 47;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 28px;
    font-weight: 500;

}
.fourthcontainer {
    width: 100%;
    margin-top: 120px;
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #1b1b1b;
}
.fourthcontainer div{
    text-align: center;
    margin-bottom: 20px;
}
.fourthcontainer div h1{
    margin-bottom: 20px;
}
.fourthcontainer p {
    margin: 0;
    /* width: 999px; */
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
}
.lastcontainer {
    padding: 120px 0;
    width: 100%;
    /* height: 871px; */
    text-align: center;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center

}
.collapse{
    margin-top: 36px;
    width: 1180px;
    /* height: 387px; */
}
.collapse :global(.ant-collapse-header){
    height: 49px;
    background-color: #22272B;
    margin-top: 10px;
    border-radius: 0 !important;
    font-size: 24px;
    font: 600;
}
.collapse :global(.ant-collapse-header) span{
    line-height: 29px;
}
.collapse :global(.ant-collapse-content-box){
    width: 100%;
    height: 76px;
    padding: 20px 0 !important;
    background-color: rgb(0 0 0 / 36%);
}
.collapse :global(.ant-collapse-item){
    margin-bottom: 10px;
}
.collapse :global(.ant-collapse-item-active){
    margin-bottom: 20px;
}
.collapse :global(.ant-collapse-content-box) p{
    margin: 0;
    font-size: 18px;
    line-height: 36px;
}
.collapse :global(.ant-collapse-content-box) {
    height: auto !important;
    padding: 20px !important;
}
:global(.ant-collapse-header-text){
    color: #fff;
    text-align: left;
}
:global(.ant-collapse-content-box){
    color: #fff;
}
.discord{
    background-color: #108CFF !important;
    box-shadow: inset 0px 2px #70BAFF, inset 0px -4px #0F5EA7 !important;
    width: 144px !important;
}
.github {
    background-color: #6A187F !important;
    box-shadow: inset 0px 2px #A327C3, inset 0px -4px #430F50 !important;
    width: 134px !important;
    margin-bottom: 64px;
}
.link {
    display: flex;
    
}
.discussions {
    font-size: 24px;
    margin: 36px 0;
    height: 29px;
    font-weight: 600
}

#scrollDown{
    position: fixed;
    bottom: 20px;
    left: 50%;
    width: 85px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    z-index: 100;
}
.chevron{
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}
.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  
  .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
  }
  
  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  
  #scrollText {
    display: block;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
  }
  
  @keyframes pulse {
    to {
      opacity: 1;
    }
  }

  .lightLine{
    width: 100vw;
    height: 1px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 19.79%, rgba(255, 255, 255, 0.79) 53.12%, rgba(255, 255, 255, 0.00) 86.46%);
  }

@media (min-width: 1280px) and (max-width: 1440px) {
    .showtext,.showcase,.video{
        height: 700px;
    }
}

@media (max-width: 1280px) {
    .showtext,.showcase,.video{
        height: 600px;
    }
    .card {
        width: 100vw;
        height: 300px;
        justify-content: space-around;
    }
    .cardimg {
        width: 300px;
        height: 300px
    }
    .cardtext {
        max-width: 50vw;
    }
    .container h1 {
        font-weight: 400;
    }
    .card  p{
        font-weight: 300;
    }
    .collapse{
        width: 100vw;
    }
}
